.file-drop-area {
  border: 1px dashed $background;
  border-radius: 3px;
  position: relative;
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  padding: 26px 20px 30px;
  transition: 0.2s;
  &.is-active {
    background-color: $background--light;
    color: white;
  }
}

.fake-btn {
  background-color: $background;
  border: 1px solid $background;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 130px);
  vertical-align: middle;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}

.restaurant__cards-link {
  text-decoration: none;
  color: white;

  &:hover
  {
    color: white;
    text-decoration:none;
    cursor:pointer;
  }
}

.card {
  position: relative;
  height: 500px;

  .card-content {
    color: grey;
  }

  .card-image {
    height: 50%;

    img {
      height: 100%;
      width: auto;
    }
  }

  .card__link {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #ec6f75;
    color: white;
    line-height: 50px;
  }
}

.input-field {
  margin-top: 0 !important;

  .time_start, .time_end {
    height: 30px !important;
  }
}

.current__pictures {
  margin-top: 15px;

  .current__pictures-div {
    margin-top: 10px;
  }
}

.delete__picture-form {
  .delete__picture-btn {
    background-color: whitesmoke;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #ec6f75;
    position: absolute;
    top: -8px;
    right: 7px;
    margin: 0;
    padding: 0;
    line-height: 20px;
  }
}
